package admission

templ hero(phrases map[string]map[string]string) {
	<section class="page-hero">
		<div class="container">
			<h1 class="hero-title animate__animated animate__fadeInDown">{ phrases["hero"]["title"] }</h1>
			<p class="hero-subtitle animate__animated animate__fadeIn">{ phrases["hero"]["subtitle"] }</p>
		</div>
	</section>
}
