package team

import "NTG/web/templates/base"

templ components(phrases map[string]map[string]string) {
	<link rel="stylesheet" href="/static/css/team.css"/>
	@hero(phrases)
	@directorSection(phrases)
	@deputiesSection(phrases)
	@methodicalAssociations(phrases)
}

templ Handler(page, language string, phrases map[string]map[string]string) {
	@base.Base(page, language, phrases, components(phrases))
}
