package interest_activities

templ mainSection(phrases map[string]map[string]string) {
	<section class="section">
		<div class="container">
			<div class="section-title animate-on-scroll">
				<h2>{ phrases["main"]["title"] }</h2>
				<p>{ phrases["main"]["subtitle"] }</p>
			</div>
		</div>
	</section>
}
