package home

import (
	"NTG/web/templates/base"
)

templ components(phrases map[string]map[string]string) {
	<link rel="stylesheet" href="/static/css/home.css">
	@carousel(phrases)
	@quicklinks(phrases)
	@news(phrases)
	@virtualtour(phrases)
	@stats(phrases)
	@partners(phrases)
	<script src="/static/js/home.js"></script>
}

templ Handler(language string, phrases map[string]map[string]string) {
	@base.Base(language, phrases, components(phrases))
}
