package nvo

import "NTG/web/templates/base"

templ components(phrases map[string]map[string]string) {
	<link rel="stylesheet" href="/static/css/nvo.css"/>
	@hero(phrases)
	@infoSection(phrases)
	@documentsSection(phrases)
	<script src="/static/js/nvo.js"></script>
}

templ Handler(page, language string, phrases map[string]map[string]string) {
	@base.Base(page, language, phrases, components(phrases))
}
