package contacts

templ hero(phrases map[string]map[string]string) {
	<section class="contact-hero">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center animate-on-scroll">
					<h1>{ phrases["hero"]["title"] }</h1>
					<p class="lead">{ phrases["hero"]["subtitle"] }</p>
				</div>
			</div>
		</div>
	</section>
}
