package programs_and_projects

import "NTG/web/templates/base"

templ components(phrases map[string]map[string]string) {
	<link rel="stylesheet" href="/static/css/programs_and_projects.css"/>
	@hero(phrases)
	@filter(phrases)
	@projectsGrid(phrases)
	@stats(phrases)
	<script src="/static/js/programs_and_projects.js"></script>
}

templ Handler(page, language string, phrases map[string]map[string]string) {
	@base.Base(page, language, phrases, components(phrases))
}
