package about_us

templ leadership(phrases map[string]map[string]string) {
	<section id="leadership" class="section leadership-section">
		<div class="container">
			<div class="section-title animate-on-scroll">
				<h2>{ phrases["leadership"]["title"] }</h2>
				<p>{ phrases["leadership"]["subtitle"] }</p>
			</div>
		</div>
	</section>
}
